* {
  margin: 0;
  padding: 0;
}

.text1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.text2 {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.text3 {
  font-family: "BebasNeueBold", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.container1 {
  background-image: url(bg.jpg);
  height: 769px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 5px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  margin: 40px;
  width: 1442px;
}

.nav-list {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: #48555b;
  list-style: none;
  display: flex;
  gap: 15px;
  border-width: 3px;
  border-color: #48555B;
}

.nav-list a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
  color: #00a4e5;
  transition: color 0.3s ease-in-out;
}

.story {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
  text-align: center;
  margin-bottom: 40px
}

.container3 {
  margin: 0 150px;
  display: flex;
  background-color: #fff;
  justify-content: end;
}

.weImages {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
}

.image3 {
  padding-left: 50px;
  margin: 10px;
}

.foundationText {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.Konstruct {
  letter-spacing: 0.01em;
  color: #16ace8;
}

.lorem {
  padding-top: 20px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.text5 {
  flex-direction: column;
}

.capabilities {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}

.text6 {
  justify-content: space-around;
  flex-direction: row;
}

.container4 {
  justify-content: space-between;
  margin: 40px 150px;
  display: flex;
  background-color: #fff;
}

.lorem2 {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.allservices {
  border: 0;
  height: 40px;
  width: 150px;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04;
  text-align: center;
  color: #fff;
  background-color: #16ace8;
}

.allservices:active {
  height: 38px;
  width: 148px;
}

.container5 {
  margin: 40px 150px;
  display: flex;
  justify-content: space-between;
}

.project {
  width: 295px;
  height: 330px;
}

.structure {
  width: 295px;
  height: 330px;
}

.factory {
  width: 295px;
  height: 330px;
}

.management {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  font-family: "BebasNeueBold", sans-serif;
  margin: 15px 0;
}

.container6 {
  height: 499px;
  background-image: url(bg2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
