* {
  margin: 0;
  padding: 0;
}

.text1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.text2 {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.text3 {
  font-family: "BebasNeueBold", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.container1 {
  background-image: url(bg.jpg);
  height: 769px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 5px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  margin: 40px auto;
  width: 1442px;
}

.nav-list {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: #48555b;
  list-style: none;
  display: flex;
  gap: 15px;
  border-width: 3px;
  border-color: #48555B;
}

.nav-list a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
  color: #00a4e5;
  transition: color 0.3s ease-in-out;
}

.story {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
  text-align: center;
  margin-bottom: 40px
}

.container3 {
  margin: 0 150px;
  display: flex;
  background-color: #fff;
  justify-content: end;
}

.weImages {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
}

.image3 {
  padding-left: 50px;
  margin: 10px;
}

.foundationText {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.Konstruct {
  letter-spacing: 0.01em;
  color: #16ace8;
}

.lorem {
  padding-top: 20px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.text5 {
  flex-direction: column;
}

.capabilities {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}

.text6 {
  justify-content: space-around;
  flex-direction: row;
}

.container4 {
  justify-content: space-between;
  margin: 40px 150px;
  display: flex;
  background-color: #fff;
}

.lorem2 {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.allservices {
  border: 0;
  min-height: 40px;
  min-width: 150px;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04;
  text-align: center;
  color: #fff;
  background-color: #16ace8;
}

.allservices:active {
  min-height: 38px;
  min-width: 148px;
}

.container5 {
  min-height: 446px;
  margin: 40px 150px;
  display: flex;
  justify-content: space-between;
}

.project {
  width: 295px;
  min-height: 330px;
}

.structure {
  min-width: 295px;
  min-height: 330px;
}

.factory {
  min-width: 295px;
  min-height: 330px;
}

.management {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  font-family: "BebasNeueBold", sans-serif;
  margin: 15px 0;
}

.container6 {
  background-repeat: no-repeat;
  height: 499px;
  background-size: cover;
  background-image: url(bg2.jpg);
  background-position: center center;
}

.text7 {
  width: 350px;
  min-height: 72px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.build {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #48555b;
} 

.signupinput {
  min-width: 250px;
  min-height: 40px;
}

.container7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171819;
  height: 100px;
  gap: 50px;
}

.news {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.lorem3 {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
  color: #fff;
}

.image1 {
  width: 102px;
  height: 23px;
}

.container8 {
  height: 299px;
  background-color: #141a20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.lorem4 {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0,08em;
  color: #fff;
}

.text_company {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0,08em;
  color: #fff;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav2 .nav-list2 li {
  list-style: none;
}

.nav-list2 li a{
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 227%;
  letter-spacing: 0.08em;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq,
.blog {
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.facebook,
.twitter,
.google {
  width: 12px;
  height: 12px;
  fill: white
}

.facebook:hover {
  fill: blue;
}

.twitter:hover {
  fill: darkturquoise;
}

.google:hover {
  fill: red;
}

.container9 {
  display: flex;
  justify-content: center;
  background-color: #171819;
  min-height: 60px;
}

.inc {
  align-self: center;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
}

.link {
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container2 {
   gap: 15px;
   flex-direction: column; 
   width: auto;
   width: auto;
   height: auto;
  }

  .nav-list {
    flex-direction: column;
    margin: auto;
    width: auto;
    height: auto;
  }

  .container5 {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
  }

  .container7 {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: auto;
    width: auto;
    height: auto;
  }

  .container4 {
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: auto;
      height: auto;
    }

  .container3 {
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: auto;
      height: auto;
    }

  .weImages {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
  }

  .container8 {
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 15px;
  }

  * {
    margin: auto;
  }
}
